@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
/* font-family: 'Sigmar One', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
/* font-family: 'Rubik', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
/* font-family: 'Dancing Script', cursive; */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body {
    background-color: #8e79ae;
}
#main {
    margin: 2vw auto;
    width: 75vw;
    border: 2px solid #666666;
    box-shadow: 4px 4px 4px #000000;
    border-radius: 8px;
    background-color: #ffffff;
}



header {
    font-family: 'Sigmar One', cursive;
    font-size: 3.2vw;
    color: #953255;
    padding-top: 3vw;
    background: url(images/header-bg.png);
    background-size: 73vw auto;
}
h1 {
    text-align: center;
    background: url(images/icon-camera.png) no-repeat 2% center, url(images/icon-spot.png) no-repeat 98% center;
    background-size: 8vw 8vw;
}



section {
    font-family: 'Rubik', sans-serif;
    margin-top: 3vw;
    margin-bottom: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#sideBox {
    width: 22vw;
}
#leftMsg {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 20vw;
    text-align: center;
    font-size: 2vw;
    background: url(images/post1.png) no-repeat 14% center;
    background-size: 20vw 20vw;
    padding: 2vw;
}
#leftMsg2 {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 20vw;
    text-align: center;
    font-size: 2vw;
    background: url(images/post2.png) no-repeat 14% center;
    background-size: 16vw 16vw;
    margin-left: 2vw;
    padding: 5vw 5vw 0vw 2vw;
}
#leftBox {
    width: 20vw;
    height: 12vw;
    color: #ffffff;
    border: 2px solid #fae975;
    background-color: #1a053a;
    border-radius: 8px;
    text-align: center;
    font-size: 2.2vw;
}
#searchWord {
    background-color: #fae975;
    font-size: 2.2vw;
}
#btnSearch {
    width: 15vw;
    border-radius: 5px;
    margin-top: 0.8vw;
    font-size: 2.2vw;
}



#mainBox {
    position: relative;
}
#photoContainer {
    width: 50vw;
    height: 50vw;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px 2px #666666;
    border: 2vw solid #ffffff;
    overflow: hidden;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
}
img {
    height: 40vw;
}
.blink {
    animation: blink normal 0.1s infinite ease-in-out; 
}
@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
#subtitle {
    height: 10vw;
    width: 50vw;
    position: absolute;
    left: 0;
    bottom: 2vw;
    background-color:#ffffff;
    font-family: 'Dancing Script', cursive;
    padding-top: 1.3vw;
}
#titulo {
    text-align: center;
    font-size: 3vw;
}
#local {
    text-align: center;
    font-size: 2vw;
}


#btnSkip {
    display: flex;
    flex-direction: row;
    width: 50vw;
    height: 50vw;
    
}
.btn {
    width: 25vw;
    height: 50vw;
    position: absolute;
}
#btnRight{
    right: 0;
    top: 0;
}
#btnRight:hover{
    background: url(images/arrow-right.png) no-repeat 16vw center;
    background-size: 8vw 8vw;
}
#btnLeft{
    left: 0;
    top: 0;
}
#btnLeft:hover {
    background: url(images/arrow-left.png) no-repeat 1vw center;
    background-size: 8vw 8vw;
}



footer {
    height: 5.5vw;
    color: #666666;
    text-align: center;
    margin-top: 1vw;
    font-size: 2vw;
}
footer a {
    text-decoration: none;
    color: #666666;
}